<div class="flag-part flag-part--<%= color %>">
  <aside class="flag-face-form flag-face-form--<%= color %>">
    <a class="face-add-button"></a>
    <div class="face-add-droparea">Drag your photo in <%= color %> here</div>
    <img class="face-preview hidden" src="">
    <a class="face-upload-button">Post</a>
    <%= form_for new_photo, namespace: color, html:{multipart: true, class: "form-inline"} do |form| %>
      <%= form.file_field :file, class: 'file-input' %>
      <%= form.hidden_field :color, class: 'color-input', value: color %>
    <% end %>
  </aside>
  <ul id="<%= color %>_photos" class="flag-faces clearfix"><%= render photos, active_photo: active_photo %></ul>
</div>
