<li class="flag-face" <%if active_photo == photo %>data-active<% end %> >
  <img src="<%= photo.file.thumb.url %>" alt="" data-orig-src="<%= photo.file.preview.url %>" data-share-url="<%= photo_url photo %>"/>
</li>
