<div id="flag" class="flag">
  <%= render 'flag_stripe', color: 'blue', new_photo: @new_blue_photo, photos: @blue_photos, active_photo: @photo %>
  <%= render 'flag_stripe', color: 'yellow', new_photo: @new_yellow_photo, photos: @yellow_photos, active_photo: @photo %>
</div>
