
<div class="section section-about ">
	<h2>Wear Ukraine</h2>
	<h4>Support Ukraine on the way to Europe</h4>
	<p>What to do:</p>
	<ol>
		<li>Put something on a yellow or blue</li>
		<li>Take a photo</li>
		<li>Upload your photo to your colour (yellow/blue) section</li>
	</ul>
</div>


