// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
 .about-modal{

   .modal-header{
     border: none;

     .close{
       font-size: 3em;
       margin-top: -12px;
       opacity: 1;
       font-weight: normal;
       color: #555555;
     }
   }

   .modal-body{
     padding: 40px;
     padding-top: 0;
   }

   .modal-content{
     box-shadow: none;
     border-radius: 0;
     color: #555555;
     font-size: 14px;
   }

   h1{
     font-weight: 300;
     text-align: center;
     color: #555555;
     font-size: 58px;
   }

   h4 {
     margin-bottom: 20px;
     color: #555555;
     font-weight: 300;
     text-align: center;
     font-size: 24px;
   }
 }

.modal-backdrop{
  background: transparent !important;
}

.modal{
  overflow-y: auto !important;
}