/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *

 *= require_self
 *= require flag
 *= require preview
 *= require section
 *= require main-header
 *= require_tree .
 */
 
 
body {
  font-family: 'Ubuntu', sans-serif !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Ubuntu', sans-serif !important;
}

/* ==========================================================================
		Top menu
    ========================================================================== */
header.main-header {
  height: 60px;
  line-height: 60px;
}

/* ==========================================================================
		Social icons
    ========================================================================== */
.aside.social-tools {
  width: 100px;
  height: 100%;
  position: absolute;
  top: 60px; right: 0;
  bottom: 0;
}

/* ==========================================================================
		Flag container
		Takes whole width and height
    ========================================================================== */
.main-content{
  position: absolute;
  top: 60px;
  bottom: 0px;
  right: 0px;
  left: 0;
}


@media only screen
and (max-width : 480px) {

  header.main-header {
    line-height: 5px;
    padding-top: 14px;
  }

  .social {
    width: 100%;
  }
}