.flag {
  height: 100%; width: 100%;
  min-height: 100%;


  /* Flag part
  ========================================================================== */
  .flag-part {
    position: relative;
    height: 50%;
    width: 100%;
  }

  .flag-part.flag-part--blue {
    background-color: #0099cb;
  }

  .flag-part.flag-part--yellow {
    background-color: #ffcc00;
  }


  /* Persons
  ========================================================================== */
  .flag-faces {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 120px;

    list-style: none;

    margin: 0;
    padding: 0;

    overflow-y: hidden;

  }

  .flag-face {
    position: relative;
    float: left;

    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 5px;

    cursor: pointer;

    img {
      width: 100%;
      height: 100%;
    }

    &:last-of-type{
      margin-right: 0;
    }

    &:before{
      content: "";
      position: absolute;
      top:5px; bottom: 5px; left: 5px; right: 5px;
      background: rgba(0,0,0,0.1);
    }
  }


  /* Upload form
  ========================================================================== */
  .flag-face-form{
    width: 120px;
    padding: 20px;
    height: 100%;
    overflow-y: auto;
    background: #73c7e3;

    // button which triggers file dialog
    .face-add-button {
      display: block;
      margin: auto;

      background: #0099cb;
      border-radius: 48px;
      width: 48px;
      height: 48px;

      text-align: center;
      cursor: pointer;

      &:after{
        content: "+";

        position: relative;
        top: -9px;
        left: 1px;

        opacity: 0.5;

        color: #fff;
        font-size: 3em;
        font-weight: bold;
      }

      &:hover{
        text-decoration: none;
        opacity: 0.9;
      }
    }

    // form upload trigger
    .face-upload-button {
      position: relative;
      display: block;
      padding: 10px;

      background: #0099cb;
      border-radius: 10px;

      color: #fff;
      text-align: center;
      text-transform: uppercase;
      cursor: pointer;

      &:hover{
        text-decoration: none;
        opacity: 0.9;
      }
    }

    .face-preview{
      width: 80px;
      margin-bottom: 10px;
    }

    // drop zone
    .face-add-droparea{
      padding: 15px;
      margin: 10px 0;

      border: 1px solid #0099cb;
      border-radius: 10px;

      text-align: center;
      color: #666666;
    }

    // hide form
    form {
      width: 0;
      height: 0;


      // hide file choose button
      input[type=file]{
        display: none;
      }
    }

    &.flag-face-form--yellow{
      background: #ffe373;

      .face-add-button,
      .face-upload-button {
        background: #ffcc00;
      }

      .face-add-droparea{
        border-color: #ffcc00;
      }
    }

  }


}


/* Animated progress
   ========================================================================== */
.in-progress:after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, 0 0, 100% 100%, color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent) );
  background-image: -moz-linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
  z-index: 1;
  -webkit-background-size: 50px 50px;
  -moz-background-size: 50px 50px;
  background-size: 50px 50px;
  -webkit-animation: move 2s linear infinite;
  -moz-animation: move 2s linear infinite;
  /*  -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;*/
  overflow: hidden;
  border-radius: 10px;
}


@-webkit-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}

@-moz-keyframes move {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 50px 50px;
  }
}
