/* ==========================================================================
		Top menu
    ========================================================================== */
.main-header {
  background: rgba(85,85,85,1);
  color: #bbbbbb;
  text-transform: uppercase;

  padding: 0 20px;

  .logotype{
    font-size: 1.3em;
  }

  // links
  a {
    color: #bbbbbb;
    text-transform: uppercase;
    cursor: pointer;

    &:hover{
      text-decoration: none;
      color: #d8d8d8;
    }
  }

  nav {
    margin-right: 20px;
  }

  .social{
    padding-top: 4px;
  }

  /* Top main menu
    ========================================================================== */
  .menu{
    list-style: none;

    li{
      float: left;
      padding-right: 10px;
    }
  }
}


// blue-yellow text
.flag-text{
  .blue {
    color: #0099cb;
  }

  .yellow {
    color: #ffcc00;
  }
}