/* Preview user image modal
========================================================================== */

#facePreview{
  h1{
    font-size: 2em;
  }

  img {
    margin-top: 20px;
  }

  .social-links {
    margin: 20px 0;
    list-style: none;

    li {
      float: left;
    }
  }
}