.section{
  position: relative;
  border-radius: 0;
  padding-left: 130px;

  height: 100%;

  &:after{
    content: "";
    position: absolute;

    width: 120px;
    bottom: 0;
    left: 0;
    top: 0;
    background: rgba(255,255,255,0.5);
  }
}

.section.section-about{
  background: #ffcc00;
  padding-top: 20px;

  h2{
    margin: 0;
    padding: 0;
  }
}