<!doctype html>

<html ng-app="myApp">

<head>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js"></script>
    <script type="text/javascript" src="js/oi.file.js"></script>
    <script type="text/javascript" src="js/application.js"></script>

    <!--script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script-->
</head>
<body>
    <script>
        var bluePhotos = [
        {
            thumbnailUrl: "first blue",
            originalUrl: "first blue"
        },
        {
            thumbnailUrl: "second blue",
            originalUrl: "second blue"
        },
        {
            thumbnailUrl: "third blue",
            originalUrl: "third blue"
        }
        ];

        var yellowPhotos = [
        {
            thumbnailUrl: "first yellow",
            originalUrl: "first yellow"
        },
        {
            thumbnailUrl: "second yellow",
            originalUrl: "second yellow"
        },
        {
            thumbnailUrl: "third yellow",
            originalUrl: "third yellow"
        }
        ];
    </script>


    <div ng-controller="PhotosCtrl">

        <ul>
            <li ng-repeat="photo in photos.blue">
                {{ photo.thumbnailUrl }}
            </li>

            <li oi-file="blueOptions" style="width: 100px; height: 100px; background-color: gray;">

            </li>
        </ul>

        <ul>
            <li ng-repeat="photo in photos.yellow">
                {{ photo.thumbnailUrl }}
            </li>

            <li oi-file="yellowOptions" style="width: 100px; height: 100px; background-color: gray;">

            </li>
        </ul>

    </div>
</body>
</html>
